main.projects {
  background-attachment: fixed;
  margin-top: 60px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  background-color: #ffffff;
  color: #3F79E9;
  padding: 10px 0;
}

main.projects .overlay {
  background-image: linear-gradient(to bottom, #6814b1bf, #07bc9ebf, #183ec9bf);
}

main.projects .project {
  height: 100vh;
  padding: 80px 0;
  color: #ffffff;
}

main.projects .project .project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main.projects .project .project-title h2 {
  line-height: 56px;
  border-bottom: #ffffff 1px solid;
  font-size: 28px;
}

main.projects .project .project-desc {
  margin-top: 30px;
  width: 50%;
}

main.projects .project .projects-list {
  width: auto;
  display: flex;
  align-items: center;
  overflow-y: auto;
  scroll-snap-type: both mandatory;
  scroll-snap-align: center;
  padding: 50px 10px 10px;
}

main.projects .project .project-item {
  display: inline-block;
  min-width: 250px;
  height: 180px;
  position: relative;
  margin: 20px 10px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  scroll-snap-type: both mandatory;
  scroll-snap-align: center;
  overflow: hidden;
}

main.projects .project .project-item .project-image {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

main.projects .project .project-item .project-image img {
  max-height: 100%;
} 

main.projects .project-item .project-summary {
  background-image: linear-gradient(to right, #6e24cd, #197de8);
  position: absolute;
  z-index: 9;
  font-size: 12px;
  width: 100%;
  height: 100%;
  padding: 20px 12px;
  bottom: 100%;
  text-align: center;
  opacity: 0;
  transition: .3s;
}

main.projects .project-item:hover .project-summary {
  bottom: 0;
  opacity: 1;
}

main.projects .project-item .project-summary button.cta-btn {
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #197de8;
  padding: 6px 20px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: .3s ;
}

main.projects .project-item .project-summary button.cta-btn:hover {
  transform: translate(-4px, -4px);
}


@media screen and (max-width: 900px) {
  section.profil-singkat {
    display: block;
  }

  section.profil-singkat aside.content-img {
    display: none;
    visibility: hidden;
  }

  section.keterampilan .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 780px) {
  main.projects .project-item {
    min-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  main.projects .project .project-title h2 {
    font-size: 21px;
  }
  main.projects .project .project-desc {
    width: 90%;
    font-size: 14px;
  }
}